:root {
  --b-primary: #6cbe00;
  --b-secondary: #919495;
  --b-secondary-theme: #f9a51b;
}

*[lang="en"],
*[lang="lk"] {
  display: none;
}

.section-common {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-common__2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-common__double {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.background-01 {
  background-color: #f0ece3;
}

.background-04 {
  background-color: #f7f7f7;
}

.background-02 {
  /* background-color: #24282b; */
  background-color: #074220;
}

.background-03 {
  background-image: linear-gradient(
    117deg,
    rgba(123, 216, 96, 1) 39.2%,
    rgba(255, 255, 255, 1) 156.2%
  );
}

.color-primary {
  color: var(--b-primary) !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.nav-header {
  position: fixed;
  width: 100%;
  z-index: 10000;
  will-change: transform;
  transition: background 0.3s,
    -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1),
    background 0.3s;
  transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1),
    background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.hide-nav {
  transform: translateY(-120%) !important;
  -webkit-transform: translateY(-120%) !important;
}

.nav-shadow {
  box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
}

.nav-height {
  height: 141.5px;
  width: 100%;
  display: block;
  background-color: #043927;
}

.nav-shadow.show-nav .main-header-inner img {
  max-height: 41px;
}

.main-header-inner img {
  max-height: 55px;
  width: auto;
  display: block;
  transition: all 0.5s;
}

.main-header {
  background-color: #043927;
  color: #ffffff;
}

.main-header-inner {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.main-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.header-phone h6,
.header-email h6 {
  color: var(--b-secondary);
  font-size: 14px;
  margin-bottom: 3px;
}

.header-phone h5,
.header-email h5 {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 3px;
}

.header-social-contacts {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header-social-contacts {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.social-media-item {
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.social-media-item i {
  font-size: 1.2rem;
  color: var(--b-secondary);
  transition: ease-in-out 0.2s;
}

.social-media-item:hover i {
  color: #ffffff;
  font-size: 1.25rem;
}

.bootstrap-select > .dropdown-toggle {
  background: transparent;
  border: none;
  color: #ffffff !important;
}

.bootstrap-select .dropdown-toggle:focus {
  outline: none;
  outline: none !important;
  outline-offset: 0;
}

.secondary-header .dropdown-toggle::after {
  margin-bottom: -2px;
}

.secondary-header {
  background-color: var(--b-primary);
}

.navbar-nav .nav-link.active {
  color: #ffffff;
  font-weight: 500;
  background-color: #00640069;
}

.navbar-nav .nav-link:hover {
  background-color: #0064003b;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-size: 15px;
  border-radius: 30px;
  padding: 0.5rem 1rem !important;
}

.navbar-nav {
  gap: 1rem;
}

.header-contacts {
  display: flex;
  align-items: center;
  gap: 7rem;
}

.navbar > .container-fluid {
  justify-content: flex-end;
}

.hero-container {
  height: 70vh;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.hero-container .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-text {
  color: #ffffff;
  z-index: 3;
  width: 50%;
}

.hero-text h1 {
  font-size: 5em;
  font-weight: 700;
}

.b-btn-primary {
  background-color: var(--b-primary);
  color: #ffffff;
  border-radius: 6px;
  padding: 10px 20px;
  font-weight: 500;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.b-btn-primary:hover {
  background-color: #00200b;
  border-color: #539200;
  color: #ffffff;
}

.b-btn-text {
  background-color: transparent;
  color: #222222;
  border-radius: 0;
  padding: 5px;
  font-weight: 500;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
}

.b-btn-text:hover {
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid #919495;
}

.b-btn-secondary {
  color: #ffffff;
  border-radius: 6px;
  padding: 10px 16px;
  font-weight: 500;
  border-color: var(--b-primary);
  border-width: 1px;
}

.b-btn-secondary:hover {
  background-color: #00200b;
  border-color: #539200;
  border-width: 1px;
}

.hero-actions {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about-us-container {
  display: flex;
  gap: 4rem;
}

.about-us-image,
.about-us-info {
  width: 50%;
}

.section-mini-title {
  color: var(--b-primary);
  font-size: 18px;
  margin-bottom: 1rem;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
}

.section-title-wrapper p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.section-title-wrapper {
  margin-bottom: 2rem;
}

.about-us-points {
  margin: 2rem 0;
}

.about-us-points ul {
  padding: 0;
}

.about-us-points li {
  list-style: none;
  font-weight: 500;
  margin: 0.3rem 0;
}

.about-us-points i {
  margin-right: 0.5rem;
  color: var(--b-primary);
}

.btn i {
  vertical-align: inherit;
  margin-left: 4px;
}

.about-us-image {
  position: relative;
}

.about-us-image img {
  width: 100%;
  border-radius: 5px;
}

.about-us-image::before {
  content: "";
  position: absolute;
  top: 10%;
  left: -30px;
  height: 96%;
  width: 100px;
  background-color: #32cd32;
  z-index: -1;
  border-radius: 5px;
}

.product-item {
  width: 23%;
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  padding: 1.5rem;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  border: 1px solid #ffffff;
  transition: border-color 0.2s linear;
  margin-bottom: 2%;
}

.product-item:hover {
  border: 1px solid var(--b-primary);
}

.product-item img {
  width: auto;
  max-height: 200px;
}

.product-item .product-info h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.product-item .product-info p {
  text-align: center;
  font-size: 14px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
}

.certified-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 3rem;
}

.certified-item img {
  width: 80px;
}

.organic-section {
  background-image: url("../images/backgrounds/bg-veg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.organic-text {
  max-width: 600px;
  text-align: center;
  margin-top: 12rem;
}

.organic-text h1 {
  font-family: "Lobster Two", cursive;
  font-weight: 700;
  text-decoration: underline;
  font-style: italic;
  font-size: 4rem;
  margin-bottom: 1rem;
  color: var(--b-primary);
}

.organic-text h2 {
  font-weight: 500;
  font-family: serif;
  margin-bottom: 1.5rem;
  color: #8b4513;
  text-transform: uppercase;
}

.organic-text p {
  color: #607d8b;
}

.header-phone h5 a,
.header-email h5 a {
  color: #ffffff;
  text-decoration: none;
}

.header-phone h5:hover,
.header-email h5:hover {
  text-decoration: underline;
}

.service-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.service-container .section-title-wrapper {
  padding: 2rem;
  width: 35%;
  margin-bottom: 0;
}

.services-wrapper {
  width: 65%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item-full {
  grid-row-start: 1;
  grid-row-end: 3;
}

.service-item {
  padding: 4rem;
  display: flex;
  align-items: center;
  position: relative;
}

.service-container .section-title-wrapper p {
  margin-top: 2rem;
  margin-bottom: 0;
}

.service-info h4 {
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 1rem;
}

.service-info p {
  color: #d3d3d3;
}

.service-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  object-fit: cover;
  opacity: 0.15;
}

.service-info {
  z-index: 2;
}

.si-bg {
  background-color: #004c20;
}

.section-subtitle-wrapper {
  margin-top: 4rem;
  padding-left: 1rem;
  border-left: 4px solid var(--b-primary);
}

.section-subtitle {
  font-weight: 600;
}

.seed-item {
  width: 16%;
  position: relative;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  margin-bottom: 0.7rem;
}

.seed-item-image {
  position: absolute;
  top: 0;
  z-index: 1;
  left: 0;
  height: 100%;
  width: 100%;
}

.seed-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seed-item-name {
  z-index: 2;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(0 100 0 / 70%);
  width: 100%;
  padding: 0.5rem 1rem;
  color: #ffffff;
}

.seeds-wrapper {
  margin-top: 3rem;
  display: flex;
  gap: 0.8%;
  flex-wrap: wrap;
}

.home-garden-kit-wrapper {
  max-width: 1320px;
  display: flex;
  gap: 2rem;
}

.home-garden-kit-item {
  width: 49%;
  background-color: rgb(211 211 211 / 30%);
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
}

.home-garden-title {
  text-align: center;
  max-width: 600px;
  margin: 3rem 0;
}

.home-garden-title h4 {
  margin-bottom: 1rem;
}

.home-kit-title h4 {
  font-weight: 700;
  text-transform: uppercase;
}

.home-kit-image {
  margin: 2rem 0;
}

.home-kit-image img {
  height: 250px;
  width: auto;
}

.home-kit-description p {
  margin-bottom: 0;
}

.usage-guide-wrapper {
  display: flex;
  gap: 2%;
  margin-top: 3rem;
}

.fertilizer-guide {
  width: 49%;
  text-align: center;
  padding: 3rem;
  background-color: lightgray;
  border-radius: 12px;
  background-image: url("../images/usage/farmer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #ffffff;
}

.seeds-guide {
  width: 49%;
  text-align: center;
  padding: 3rem;
  background-color: lightgray;
  border-radius: 12px;
  background-image: url("../images/usage/seeds-planting.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #ffffff;
}

.guide-item h3 {
  font-size: 26px;
  margin-bottom: 2rem;
  margin-top: 1rem;
  color: var(--b-secondary-theme);
  font-weight: 600;
}

.guide-item h5 {
  color: #ffe8a3;
}

.guide-item p {
  margin-bottom: 2rem;
}

.guide-info {
  z-index: 2;
  position: relative;
}

.guide-item .overlay {
  background-color: rgb(85 107 47 / 88%);
}

.use-benefits {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.benefit-desc h4 {
  font-weight: 500;
  font-size: 26px;
}

.benefit-desc h4 > span {
  font-weight: 700;
}

.benefit-desc p {
  margin: 1.5rem 0;
}

.see-more-products {
  text-align: center;
  margin: 1rem 0 2rem;
}

.owl-carousel {
  height: 100%;
}

.owl-carousel .owl-stage {
  height: 100%;
}

.owl-carousel .owl-stage-outer {
  height: 100%;
}

.owl-carousel.owl-drag .owl-item {
  height: 100%;
}

.owl-carousel .owl-slide {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.owl-carousel .owl-slide-animated {
  transform: translateX(20px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.05s;
}

.owl-carousel .owl-slide-animated.is-transitioned {
  transform: none;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.owl-carousel .owl-slide-title.is-transitioned {
  transition-delay: 0.2s;
}

.owl-carousel .owl-slide-subtitle.is-transitioned {
  transition-delay: 0.35s;
}

.owl-carousel .owl-slide-cta.is-transitioned {
  transition-delay: 0.5s;
}

.owl-carousel .owl-dots,
.owl-carousel .owl-nav {
  position: absolute;
}

.owl-carousel .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid var(--main-black-color);
  transition: all 0.2s ease;
}

.owl-carousel .owl-dots .owl-dot:hover span,
.owl-carousel .owl-dots .owl-dot.active span {
  background: var(--main-black-color);
}

.owl-carousel .owl-nav {
  left: 50%;
  top: 90%;
  transform: translateX(-50%);
  margin: 0;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  fill: #98fb98;
}

.home-contact-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.home-contact-item {
  width: calc(100% / 3);
  text-align: center;
}

.home-contact-item img {
  width: 42px;
}

.home-contact-item h5 {
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: #666666;
}

.h-contact-info {
  font-weight: 500;
  margin-top: 1rem;
  display: inline-block;
  text-decoration: none;
  color: #043927;
}

.h-contact-info:hover {
  text-decoration: underline;
  color: var(--b-primary);
}

.h-message-wrapper {
  text-align: center;
  margin-top: 3rem;
}

footer {
  background-color: #171717;
  color: #ffffff;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 40% auto auto auto;
  column-gap: 3rem;
}

.footer-item .footer-logo {
  max-width: 200px;
  width: 100%;
  margin-bottom: 1rem;
}

.footer-social {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
}

.f-social-media-item a i {
  font-size: 1rem;
  vertical-align: middle;
  color: #ffffff;
}

.f-social-media-item {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255 255 255 / 20%);
  border-radius: 3px;
}

.footer-item p {
  font-size: 14px;
}

.footer-copyright {
  text-align: center;
  padding: 1rem;
  font-size: 12px;
  font-weight: 400;
  background-color: #111111;
  color: #d3d3d3;
}

.footer-sec-title {
  margin-bottom: 1rem;
}

.footer-links a {
  display: block;
  margin: 0.5rem 0;
}

.footer-links a {
  display: block;
  margin: 0.5rem 0;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #d3d3d3;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #ffffff;
}

.benefits-points {
  margin-top: 2rem;
}

.benefits-item {
  display: flex;
  align-items: baseline;
  gap: 1rem;
  margin-bottom: 1rem;
}

.benefits-item:last-child {
  margin-bottom: 0;
}

.benefits-item i {
  color: #006400;
  position: relative;
  bottom: -3px;
}

.benefit-image {
  width: 55%;
}

.benefit-desc {
  width: 45%;
}

.benefit-image img {
  width: 100%;
}

.service-e-learning .service-info {
  padding: 5rem 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  background-color: #004c20;
}

.service-e-learning .service-info p {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.service-e-learning {
  position: relative;
  grid-column: span 2;
}

.harvest-guide-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1.33%;
  margin-top: 3rem;
}

.harvest-image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.harvest-name {
  font-weight: 600;
  padding: 1rem;
}

.harvest-name h4 {
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.harvest-guide-item {
  cursor: pointer;
  width: 24%;
  background-color: #e9ecef;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 1.3rem;
  transition: ease-in-out 0.2s;
}

.harvest-guide-item:hover {
  background-color: #d3d5d8;
}

.harvest-guide-item a {
  color: inherit;
  text-decoration: none;
  display: block;
}

.use-product-item {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.state-item {
  display: flex;
  align-items: center;
  gap: 5rem;
  border-bottom: 1px solid #ededed;
  padding: 1rem 0;
}

.state-item:last-child {
  border-bottom: none;
}

.use-prod-img img {
  max-width: 65px;
  width: 100%;
}

.use-prod-info h5 {
  font-weight: 600;
  font-size: 1rem;
}

.use-prod-info p {
  color: #777777;
  margin-bottom: 0;
}

.use-product-items {
  display: flex;
  gap: 3rem;
}

.cultivate-wrapper {
  margin-top: 4rem;
}

.stage-name {
  min-width: 220px;
}

.benefits-points.product-uses {
  background-color: #90ee90;
  border-radius: 6px;
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.use-note i {
  color: rgba(255, 0, 0, 1);
  font-size: 10px;
  vertical-align: 3px;
  margin-right: 6px;
}

.download-guide-pdf {
  margin: 2rem 0;
}

.download-guide-pdf a {
  margin-left: 10px;
}

.download-guide-pdf i {
  vertical-align: -1px;
  margin-right: 5px;
}

.download-guide-pdf a {
  margin-left: 10px;
}

.download-guide-pdf {
  margin: 3rem 0 1rem;
  border: 1px solid #d3d3d3;
  border-radius: 6px;
  padding: 1rem;
  text-align: center;
}

.cultivate-header {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.cultivate-image {
  width: 50%;
}

.cultivate-image img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
}
